@model Fixers.Models.Professional
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>expt</title>
</head>
<body>
    <form action="/Clerk/expt"  method="post">
        <div class="form-group">
           <select name="Status" id="cars">
               <option value="1">Available</option>
               <option value="0">Hired</option>
           </select>

        </div>
    </form>

</body>
</html>
